/*Style sheet*/
/*Font thing*/
.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 700;
  font-style: normal;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*Colour variables*/

:root {
  --body-colour: darkslategray;
  --main-darkgreen-colour: darkgreen;
  --dropdown-hover: gray;
}




/*Title*/

.Title {
  font-family: "Patrick Hand", cursive;
  font-weight: 700;
  font-style: normal;
  line-height: 4rem;
  margin-top: 25px;
}

/*global styles*/

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  color: var(--body-colour);
  width: 1000px;
}

.h1/h2 {
  color: var(--main-darkgreen-colour);
  text-shadow: -2px;
  filter: blur(radius) 2px silver;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

footer{
  background-color: var(--main-darkgreen-colour);
  height: 30px;
  font-size: xx-large;
  text-align: center;
  color: mintcream;
  width: 100%;
}

/*Nav bar Dont touch it*/
.Nav-div {
  background-color: var(--main-darkgreen-colour);
  height: 30px;
  position: fixed;
  top: 0;
  width: 1000px;
  text-align: center;
  overflow: none;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  order: 0;
  flex-wrap: nowrap;
}

nav ul li a {
  color: mintcream;
  text-decoration: none;
}

.frontPage {
 padding-top: 6px; 
}



/*Nav bar hover*/
.dropdown-content a:hover {
  background-color:  var(--dropdown-hover);

}

.dropbtn:hover {
  background-color: var(--dropdown-hover);
}

/*Dropdown Nav*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: black;
}

.dropdown-content a {
  color: whitesmoke;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  background-color: var(--main-darkgreen-colour);
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-decoration: none; 
  width:fit-content;
  height: 30px;
}

/*Picture nav bar on index*/
.pic-ref,
nav ul li {
  list-style: none;
}

.pic-ref li a {
  color: mediumseagreen;
  text-decoration: none;
  display: inline;
}

/*Footer & Header possibly no change needed*/

footer {
  background-color: var(--main-darkgreen-colour);
  max-height: 30px;
}

header {
  text-align: center;
  font-size: xxx-large;
  color: lightgreen;
  justify-content: center;
  font-weight: 100;
  text-decoration: solid;
}

/*Images with nav INDEX*/

.Img-s {
  width: 300px;
  height: 400px;
  outline-offset: -10px;
}

.Img-s:hover {
  opacity: 0.5;
}


/*Main images on INDEX*/
.picRefTitle {
  font-size: x-large;
  height: fit-content;
  color: darkcyan;
  margin-top: 20px;
  justify-content: center;
}

.Img-main {
  width: 700px;
  height: 800px;
  outline-offset: -10px;
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
  float: right;

}

/*Index flex box*/
/*Inhold Con */

.Inhold {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: medium;
  outline: 6px solid mediumaquamarine;
  border-radius: 3%;
  overflow: auto;
}

.flexIndex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pic-ref {
  display: flex;
  order: 0;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: larger;
}


/*Plantpages*/

.flexPlantPages {
  display: flex;
  flex-direction: row;
}

.plantFlexItem {
  display: flex;
  margin-top: 15px;
  float: right;
  height: auto;
  width: 45%;
  font-size: medium;
}

.plantFlexImg {
  display: flex;
  float: left;
  height: auto;
  width: 45%;
}

.Sub-tl {
  color: green;
  font-size: x-large;
  font-style: italic;
  text-decoration: underline;
  margin-bottom: 5px;
}