/*Style sheet*/

/*Font thing*/
.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 700;
  font-style: normal;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/fontawesome.min.css);

/*Colour variables*/

:root {
  --body-colour: darkslategray;
  --main-darkgreen-colour: darkgreen;
  --dropdown-hover: gray;
  --PicTitle-back-colour: rgb(124, 177, 121);
  --input-Background: #f2f2f2;
  --KontaktUs-text: gray;
}

/*Media screen stuff*/
/*Phone screens REMEMBER TO TEST IT*/
@media only screen and (max-width:501px){
  nav {
    display: none;
  }
  .pic-ref {
    flex-direction: column;
  }
  Main {
    width: 98%;
  }
  .flexPlantPages {
    width: 98%;
    flex-direction: column;
  }
  
}


/*Title*/

.Title {
  font-family: "Patrick Hand", cursive;
  font-weight: 700;
  font-style: normal;
  line-height: 4rem;
  margin-top: 25px;
}

/*global styles*/

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  color: var(--body-colour);
}

Main {
  width: 1000px;
  justify-self: center;
}

.h1-h2 {
  color: var(--main-darkgreen-colour);
  text-shadow: -2px;
  filter: blur(radius) 2px silver;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

footer {
  background-color: var(--main-darkgreen-colour);
  height: 30px;
  font-size: x-large;
  text-align: center;
  color: mintcream;
  width: 100%;
}

/*Email link*/
h1 a {
  color: var(--main-darkgreen-colour);
}

h1 a:visited {
  color: var(--body-colour);
}

/*Nav bar Dont touch it*/
.Nav-div {
  background-color: var(--main-darkgreen-colour);
  height: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  overflow: none;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  order: 0;
  flex-wrap: nowrap;
  margin: 0;
  align-items: center;
}

nav ul li a {
  color: mintcream;
  text-decoration: none;
}



/*Nav bar hover*/
.dropdown-content a:hover {
  background-color: var(--dropdown-hover);

}

.dropbtn:hover {
  background-color: var(--dropdown-hover);
}

/*Dropdown Nav*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: black;
}

.dropdown-content a {
  color: whitesmoke;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  background-color: var(--main-darkgreen-colour);
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  width: fit-content;
  height: 30px;
}

/*Picture nav bar on index*/
.pic-ref,
nav ul li {
  list-style: none;
}

.pic-ref li a {
  color: mediumseagreen;
  text-decoration: none;
  display: inline;
}

/*Header possibly no change needed*/

header {
  text-align: center;
  font-size: xxx-large;
  color: lightgreen;
  justify-content: center;
  font-weight: 100;
  text-decoration: solid;
}

/*Images with nav INDEX*/

.Img-s {
  width: 300px;
  height: 400px;
  outline-offset: -10px;
}

.Img-s:hover {
  opacity: 0.5;
}


/*Main images on INDEX*/

.picRefTitle-con {
  background-color: var(--PicTitle-back-colour);
  border-radius: 15px;
  width: 80%;
  margin-left: 100px;
  padding: 2px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bold-xm {
  font-weight: bold;
  font-size: xx-large;
  color: mintcream;
  text-shadow: 1px 1px 2px whitesmoke;
  display: flex;
  margin-top: 4px;
}

.picRefTitle {
  font-size: x-large;
  height: fit-content;
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: font-awesome;
  text-shadow: 2px 2px 4px #000000;
  margin: 10px;
  display: flex;
}

.Img-main {
  width: 700px;
  height: 800px;
  outline-offset: -10px;
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
  float: right;

}

/*Index flex box*/
/*Inhold Con */

.Inhold {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: medium;
  outline: 6px solid mediumaquamarine;
  border-radius: 3%;
  overflow: auto;
}

.flexIndex {
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
}

.pic-ref {
  display: flex;
  order: 0;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: larger;
}


/*Plantpages*/

.flexPlantPages {
  display: flex;
  flex-wrap: nowrap;
  width: 1000px;
  justify-self: center;
}


.plantFlexItem {
  flex: 50%;
  padding: 20px;
}

.plantFlexItem p {
  padding-top: 40px;
}

.plantFlexImg {
  flex: 50%;
}

.plantFlexImg img{
  width: 100%;
  padding: 20px;
}
.plantFlexImg p{
  padding-left: 20px;
}


.Sub-tl {
  color: green;
  font-size: x-large;
  font-style: italic;
  text-decoration: underline;
  margin-bottom: 5px;
}



/*Kontakt us page*/
/*
Kontakt us Header
Navn text input
Email text input
Nyplante til data base check box
Plant name text input
plant variant text input
plant type text input
plant height number input
plant rækkeafstand number input
plant sådybde number input
plant lysforhold dropdown
planten forspires i multiple choice
plant udplantes i multiple choice
planten spirer i number input
planten er klar til høst i number input
plant description text area
submit button
*/

form {
  margin-left: 15%;
  margin-right: 15%;
}

.form-group {
  display: flex;
   flex-direction: row;
}

.form-group p {
  font-family: font awesome;
  font-size: 15px;
  padding-top: 5px;
}

.form-group label {
  width: 200px;
  /* Fixed width for consistent alignment */
  margin-right: 150px;
  /* Space between label and input */
  font-family: font awesome;
  padding-top: 5px;
}

.form-group input {
  width: 300px;
  padding: 5px;
}

.form-group textarea {
  padding: 5px;
  resize: none;
  width: 300px;
  height: 100px;
}

.single-select{
  padding: 5px;
  width: 300px;
}

.multiple-select {
  padding: 5px;
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.numbersizing {
  max-width: 50px;
}

.check {
  width: 20px;
  position: relative;
  top: -18px;
  left: 160px;
}

.hidden-text {
   display: none;
}


#toggle:checked ~ .hidden-text {
  display: block;
}




.form-group input:focus {
background-color: white;
}
.form-group textarea:focus {
  background-color: white;
}


.input-border-shadow {
  border: #000000 solid 1px;
  border-radius: 2px;
  margin: 3px;
  text-size-adjust: auto;
  background-color: var(--input-Background);
}

/*Dropdown choice*/
/*Remember to add drop down class to parent and other drop down stuff to the right things aka reuse nav to keep it DRY*/

.dropdown-choice-option {
  background-color: white;
  border: 1px solid gray;
}

.dropdown-choice-option:hover {
  background-color: var(--dropdown-hover);
  cursor: pointer;
}

.big-text-input {
  width: 300px;
  height: 150px;
  overflow: auto;
}


/*Submit button*/
.submit-btn {
  color: black;
  font-weight: 700;
  text-decoration-style: solid 2px;
}

.submit-btn:hover {
  color: var(--dropdown-hover);
  cursor: pointer;
}



/*Landing page*/

.K-L-H {
  color: green;

}